.menuItem {
  margin: 0 0 0 16px;
}

.menuItem .icon {
  float: left;
  margin: 8px 5px 0 0;
}

.caret-right .nav-link.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caret-right .nav-link.dropdown-toggle::after {
  margin-left: auto;
}